# n3 test<a class="tocSkip">

In [3]:
import sys
import os

%reload_ext autoreload
%autoreload 2

EZAI_ROOT=os.path.join(os.path.expanduser('~'),'projects','ezai')
if not EZAI_ROOT in sys.path:
    sys.path.append(EZAI_ROOT)
import ezai

from ezai.util import util
util.m_info([ezai])

ezai 0.1.0-dev

In [4]:
import numpy as np
import pandas as pd

import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns

from IPython.display import display as ipd

print('Python ', sys.version)
print(sys.executable)

util.m_info([np,pd,mpl,sns])

Python  3.7.8 | packaged by conda-forge | (default, Jul 31 2020, 02:25:08)
[GCC 7.5.0]
/opt/conda/envs/ezai/bin/python
numpy 1.19.1
pandas 1.1.0
matplotlib 3.3.0
seaborn 0.10.1
tensorflow 2.3.0
torch 1.6.0

In [5]:
from ezai.util import log_util
logger = log_util.get_logger()

## GPU Tests

In [6]:
!nvidia-smi

Fri Jul 31 21:41:04 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.95.01    Driver Version: 440.95.01    CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Quadro P5000        On   | 00000000:01:00.0 Off |                  N/A |
| N/A   67C    P0    34W /  N/A |   1804MiB / 16278MiB |      9%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [7]:
from ezai.util import tf_util
tf_util.gpu_test()

ezai - I - TensorFlow CUDA version is installed
ezai - I - TensorFlow Default GPU Device:/device:GPU:0
ezai - I - # of GPU Devices:1

In [8]:
from ezai.util import pt_util
pt_util.gpu_test()

ezai - I - Torch Current GPU Device # and name:0 Quadro P5000
ezai - I - # of GPU Devices:1

## Random temporal data creation test

In [35]:
n_rows = 400
idx = pd.date_range('2020-01-01', periods=n_rows, freq='5T')
df2d_5T = pd.DataFrame({'col1':np.linspace(1,10,n_rows),
                        'col2':np.linspace(11,20,n_rows)},
                       index=idx)
ipd(df2d_5T.shape,df2d_5T.index.freq,df2d_5T.head())
df2d_10T = temporal.interpolate(df2d_5T,freq='10T')
ipd(df2d_10T.shape,df2d_10T.index.freq,df2d_10T.head())
df2d_15T = temporal.interpolate(df2d_5T,freq='15T')
ipd(df2d_15T.shape,df2d_15T.index.freq,df2d_15T.head())
df2d_30T = temporal.interpolate(df2d_5T,freq='30T')
ipd(df2d_30T.shape,df2d_30T.index.freq, df2d_30T.head())

(400, 2)

                         col1       col2
2020-01-01 00:00:00  1.000000  11.000000
2020-01-01 00:05:00  1.022556  11.022556
2020-01-01 00:10:00  1.045113  11.045113
2020-01-01 00:15:00  1.067669  11.067669
2020-01-01 00:20:00  1.090226  11.090226

(200, 2)

                         col1       col2
2020-01-01 00:00:00  1.000000  11.000000
2020-01-01 00:10:00  1.045113  11.045113
2020-01-01 00:20:00  1.090226  11.090226
2020-01-01 00:30:00  1.135338  11.135338
2020-01-01 00:40:00  1.180451  11.180451

(134, 2)

                         col1       col2
2020-01-01 00:00:00  1.000000  11.000000
2020-01-01 00:15:00  1.067669  11.067669
2020-01-01 00:30:00  1.135338  11.135338
2020-01-01 00:45:00  1.203008  11.203008
2020-01-01 01:00:00  1.270677  11.270677

(67, 2)

                         col1       col2
2020-01-01 00:00:00  1.000000  11.000000
2020-01-01 00:30:00  1.135338  11.135338
2020-01-01 01:00:00  1.270677  11.270677
2020-01-01 01:30:00  1.406015  11.406015
2020-01-01 02:00:00  1.541353  11.541353

In [55]:
xy,cols = temporal.df_to_xy(df2d_30T,dim3=False)
ipd(xy.head())

                     col1_t-0   col2_t-0  col1_t+1   col2_t+1
2020-01-01 00:00:00  1.000000  11.000000  1.135338  11.135339
2020-01-01 00:30:00  1.135338  11.135339  1.270677  11.270677
2020-01-01 01:00:00  1.270677  11.270677  1.406015  11.406015
2020-01-01 01:30:00  1.406015  11.406015  1.541353  11.541353
2020-01-01 02:00:00  1.541353  11.541353  1.676692  11.676692

In [56]:
xy,cols = temporal.df_to_xy(df2d_30T,dim3=True)
print(xy[0].shape,xy[1].shape)
a = xy[0][:5]
print(a.reshape(a.shape[0],-1))
a = xy[1][:5]
print(a.reshape(a.shape[0],-1))

array([[[ 1.       , 11.       ]],

       [[ 1.1353383, 11.135339 ]],

       [[ 1.2706767, 11.270677 ]],

       [[ 1.406015 , 11.406015 ]],

       [[ 1.5413533, 11.541353 ]]], dtype=float32)

array([[[ 1.1353383, 11.135339 ]],

       [[ 1.2706767, 11.270677 ]],

       [[ 1.406015 , 11.406015 ]],

       [[ 1.5413533, 11.541353 ]],

       [[ 1.6766918, 11.676692 ]]], dtype=float32)

In [58]:
n_tx=6
n_ty=1
n_tx_step = 1

In [112]:
xy,cols = temporal.df_to_xy(df2d_5T,n_tx=n_tx,n_ty=1,dim3=False)
ipd(xy.head(6*5).iloc[::n_tx,:])

,col1_t-2,col2_t-2,col1_t-1,col2_t-1,col1_t-0,col2_t-0,col1_t+1,col2_t+1
2020-01-01 00:00:00,1.000000,11.000000,1.022556,11.022556,1.045113,11.045113,1.067669,11.067669
2020-01-01 00:15:00,1.067669,11.067669,1.090226,11.090225,1.112782,11.112782,1.135338,11.135339
2020-01-01 00:30:00,1.135338,11.135339,1.157895,11.157895,1.180451,11.180451,1.203007,11.203008
2020-01-01 00:45:00,1.203007,11.203008,1.225564,11.225564,1.248120,11.248120,1.270677,11.270677
2020-01-01 01:00:00,1.270677,11.270677,1.293233,11.293233,1.315789,11.315789,1.338346,11.338346

In [64]:
xy,cols = temporal.df_to_xy(df2d_30T,n_tx=1,n_ty=n_ty,dim3=False)
ipd(xy.head())

                     col1_t-0   col2_t-0  col1_t+1   col2_t+1
2020-01-01 00:00:00  1.000000  11.000000  1.135338  11.135339
2020-01-01 00:30:00  1.135338  11.135339  1.270677  11.270677
2020-01-01 01:00:00  1.270677  11.270677  1.406015  11.406015
2020-01-01 01:30:00  1.406015  11.406015  1.541353  11.541353
2020-01-01 02:00:00  1.541353  11.541353  1.676692  11.676692

In [82]:
xy,cols = temporal.dfs_to_xy(df2d_5T,df2d_30T,
                             n_tx_step=n_tx_step,n_ty_step=6, n_tx=n_tx, n_ty=n_ty,
                             dim3=False)
print(xy.shape)
ipd(xy.head())

(66, 14)

,col1_t-5,col2_t-5,col1_t-4,col2_t-4,col1_t-3,col2_t-3,col1_t-2,col2_t-2,col1_t-1,col2_t-1,col1_t-0,col2_t-0,col1_t+1,col2_t+1
2020-01-01 00:00:00,1.000000,11.000000,1.022556,11.022556,1.045113,11.045113,1.067669,11.067669,1.090226,11.090225,1.112782,11.112782,1.135338,11.135339
2020-01-01 00:30:00,1.135338,11.135339,1.157895,11.157895,1.180451,11.180451,1.203007,11.203008,1.225564,11.225564,1.248120,11.248120,1.270677,11.270677
2020-01-01 01:00:00,1.270677,11.270677,1.293233,11.293233,1.315789,11.315789,1.338346,11.338346,1.360902,11.360902,1.383459,11.383459,1.406015,11.406015
2020-01-01 01:30:00,1.406015,11.406015,1.428571,11.428572,1.451128,11.451128,1.473684,11.473684,1.496241,11.496241,1.518797,11.518797,1.541353,11.541353
2020-01-01 02:00:00,1.541353,11.541353,1.563910,11.563910,1.586466,11.586466,1.609022,11.609022,1.631579,11.631579,1.654135,11.654136,1.676692,11.676692

In [97]:
xy,cols = temporal.dfs_to_xy(df2d_5T,df2d_30T,
                             n_tx_step=n_tx_step,n_ty_step=6, n_tx=n_tx, n_ty=n_ty,
                             dim3=True)
print(xy[0].shape,xy[1].shape)
a = xy[0][:5]
print(a.reshape(a.shape[0],-1))
a = xy[1][:5]
print(a.reshape(a.shape[0],-1))

(66, 6, 2) (66, 1, 2)
[[ 1.        11.         1.0225564 11.022556   1.0451127 11.045113
   1.0676692 11.067669   1.0902256 11.090225   1.112782  11.112782 ]
 [ 1.1353383 11.135339   1.1578947 11.157895   1.1804512 11.180451
   1.2030075 11.203008   1.2255639 11.225564   1.2481203 11.24812  ]
 [ 1.2706767 11.270677   1.293233  11.293233   1.3157895 11.315789
   1.3383459 11.338346   1.3609023 11.360902   1.3834586 11.383459 ]
 [ 1.406015  11.406015   1.4285715 11.428572   1.4511278 11.451128
   1.4736842 11.473684   1.4962406 11.496241   1.518797  11.518797 ]
 [ 1.5413533 11.541353   1.5639098 11.56391    1.5864662 11.586466
   1.6090225 11.609022   1.6315789 11.631579   1.6541353 11.654136 ]]
[[ 1.1353383 11.135339 ]
 [ 1.2706767 11.270677 ]
 [ 1.406015  11.406015 ]
 [ 1.5413533 11.541353 ]
 [ 1.6766918 11.676692 ]]

In [101]:
n_tx = 3
n_ty = 2
n_tx_step = 2

In [105]:
xy,cols = temporal.dfs_to_xy(df2d_10T,df2d_30T,
                             n_tx_step=n_tx_step,n_ty_step=6, n_tx=n_tx, n_ty=n_ty,
                             dim3=False)
print(xy.shape)
ipd(xy.head())

xy_df: (66, 10)
['col1_t-2', 'col2_t-2', 'col1_t-1', 'col2_t-1', 'col1_t-0', 'col2_t-0'] ['col1_t+1', 'col2_t+1', 'col1_t+2', 'col2_t+2']
(66, 10)

,col1_t-2,col2_t-2,col1_t-1,col2_t-1,col1_t-0,col2_t-0,col1_t+1,col2_t+1,col1_t+2,col2_t+2
2020-01-01 00:00:00,1.000000,11.000000,1.045113,11.045113,1.090226,11.090225,1.135338,11.135339,1.270677,11.270677
2020-01-01 00:30:00,1.135338,11.135339,1.180451,11.180451,1.225564,11.225564,1.270677,11.270677,1.406015,11.406015
2020-01-01 01:00:00,1.270677,11.270677,1.315789,11.315789,1.360902,11.360902,1.406015,11.406015,1.541353,11.541353
2020-01-01 01:30:00,1.406015,11.406015,1.451128,11.451128,1.496241,11.496241,1.541353,11.541353,1.676692,11.676692
2020-01-01 02:00:00,1.541353,11.541353,1.586466,11.586466,1.631579,11.631579,1.676692,11.676692,1.812030,11.812030

In [119]:
xy,cols = temporal.df_to_xy(df2d_10T,n_tx=n_tx,n_ty=1,dim3=False)
ipd(xy.head(3*5).iloc[::n_tx,:])

,col1_t-2,col2_t-2,col1_t-1,col2_t-1,col1_t-0,col2_t-0,col1_t+1,col2_t+1
2020-01-01 00:00:00,1.000000,11.000000,1.045113,11.045113,1.090226,11.090225,1.135338,11.135339
2020-01-01 00:30:00,1.135338,11.135339,1.180451,11.180451,1.225564,11.225564,1.270677,11.270677
2020-01-01 01:00:00,1.270677,11.270677,1.315789,11.315789,1.360902,11.360902,1.406015,11.406015
2020-01-01 01:30:00,1.406015,11.406015,1.451128,11.451128,1.496241,11.496241,1.541353,11.541353
2020-01-01 02:00:00,1.541353,11.541353,1.586466,11.586466,1.631579,11.631579,1.676692,11.676692

In [118]:
xy,cols = temporal.df_to_xy(df2d_30T,n_tx=1,n_ty=n_ty,dim3=False)
ipd(xy.head())

,col1_t-0,col2_t-0,col1_t+1,col2_t+1,col1_t+2,col2_t+2
2020-01-01 00:00:00,1.000000,11.000000,1.135338,11.135339,1.270677,11.270677
2020-01-01 00:30:00,1.135338,11.135339,1.270677,11.270677,1.406015,11.406015
2020-01-01 01:00:00,1.270677,11.270677,1.406015,11.406015,1.541353,11.541353
2020-01-01 01:30:00,1.406015,11.406015,1.541353,11.541353,1.676692,11.676692
2020-01-01 02:00:00,1.541353,11.541353,1.676692,11.676692,1.812030,11.812030

In [120]:
n_tx = 2
n_ty = 2
n_tx_step = 3

In [121]:
xy,cols = temporal.dfs_to_xy(df2d_15T,df2d_30T,
                             n_tx_step=n_tx_step,n_ty_step=6, n_tx=n_tx, n_ty=n_ty,
                             dim3=False)
print(xy.shape)
ipd(xy.head())

(66, 8)

,col1_t-1,col2_t-1,col1_t-0,col2_t-0,col1_t+1,col2_t+1,col1_t+2,col2_t+2
2020-01-01 00:00:00,1.000000,11.000000,1.067669,11.067669,1.135338,11.135339,1.270677,11.270677
2020-01-01 00:30:00,1.135338,11.135339,1.203007,11.203008,1.270677,11.270677,1.406015,11.406015
2020-01-01 01:00:00,1.270677,11.270677,1.338346,11.338346,1.406015,11.406015,1.541353,11.541353
2020-01-01 01:30:00,1.406015,11.406015,1.473684,11.473684,1.541353,11.541353,1.676692,11.676692
2020-01-01 02:00:00,1.541353,11.541353,1.609022,11.609022,1.676692,11.676692,1.812030,11.812030

## Read some of samiul_i75 data

In [ ]:
from ezai.data import ritis
from ezai.util import vis_util
from ezai.util import dict_util
from ezai.util import df_util
from ezai.data import temporal

In [131]:
# first list all the folders
for exp_id,source_data in zip(['n3_1'],['samiul_i75']):
    expdata_home = os.path.normpath(os.path.join(os.path.expanduser('~'),'traffic_flow_exp',exp_id,'data'))
    n_cols = [1,3]
    n_aggs = [5,10,15]
    derived_features = ['f','sf','tf','stf']

    from itertools import product
    from glob import glob

    folders = []
    for n_col,n_agg,derived_feature in product(n_cols,n_aggs,derived_features):
        datafolders = glob(os.path.join(expdata_home, '{}-*-{}-{}/{}'.format(source_data,
                                                                          n_col,
                                                                          n_agg,
                                                                          derived_feature)))
        folders.extend(datafolders[:1])
    #display(folders)
    
    for datafolder in folders[:1]:
        print(datafolder)
        npz_files = glob(os.path.join(datafolder, '*.npz'))
        conf_files = glob(os.path.join(datafolder, '*-conf.json'))
        
        for filename in sorted(npz_files)[:1]:
            xy_loaded = np.load(filename)
            print('file=', os.path.basename(filename), 
                  ', shapes=', xy_loaded['x'].shape, xy_loaded['y'].shape)

        for filename in sorted(conf_files)[:1]:
            conf = dict_util.DictObj(filename)
            print('file=', os.path.basename(filename), 
                  'zid=', conf.id, 
                  ', shapes=', conf.n_tx, ',',conf.n_vx, 'and', conf.n_ty, '*', conf.n_vy)
            print(conf.dumps_json())

/home/armando/traffic_flow_exp/n3_1/data/samiul_i75-I_75-S-1-5/f
file= 9816.npz , shapes= (213, 24, 1) (213, 2)
file= 9816-conf.json zid= 9816 , shapes= 24 , 1 and 2 * 1
{
    "n_tx": 24,
    "n_ty": 2,
    "n_vx": 1,
    "n_vy": 1,
    "n_agg": 5,
    "h": 1,
    "x_cols": [
        "speed"
    ],
    "y_cols": [
        "speed"
    ],
    "months": [
        9
    ],
    "weekdays": [
        0,
        1,
        2,
        3,
        4
    ],
    "trim_partial_weeks": true,
    "n_tx_duration": 0,
    "road": "I_75",
    "direction": "S",
    "n_tx_step": 1,
    "n_ty_step": 6,
    "derived_features": "f",
    "id": "9816",
    "xy_cols": [
        "speed"
    ]
}

In [ ]:
source_data = 'samiul_i75'
conf.setdefault('months', []) #for samiul_75 only
filetype='csv'

In [ ]:
rd = ritis.RITISDetector(source_data)

In [ ]:
rd = rd.load_raw(kind=('meta','zone'),filetype='parquet')
rd.info()

In [ ]:
rd.filter_by_common_id()
rd.info()

In [ ]:
from traffic_flow.ritis_exp import *
#expdata_home = os.path.normpath(os.path.join(os.path.expanduser('~'),'traffic_flow_exp','n2','data'))
#build_data_exp_n2(rd,conf, n_adj_id = 6, expdata_home=expdata_home)

## Temporal Model

In [14]:
expdata_home = os.path.normpath(os.path.join(os.path.expanduser('~'),'traffic_flow_exp','n2','data'))
source_data = 'samiul_i75'

In [16]:
# first list all the folders

n_cols = [1,3]
n_aggs = [5,10,15]
derived_features = ['f','sf','tf','stf']

from itertools import product
from glob import glob

folders = []
for n_col,n_agg,derived_feature in product(n_cols,n_aggs,derived_features):
    datafolders = glob(os.path.join(expdata_home, '{}-*-{}-{}/{}'.format(source_data,
                                                                      n_col,
                                                                      n_agg,
                                                                      derived_feature)))
    folders.extend(datafolders[:1])
ipd(folders)

['/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-5/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-5/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-5/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-5/stf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-1-10/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-1-10/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-1-10/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-1-10/stf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-15/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-15/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-15/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-15/stf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-5/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-5/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-5/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-5/stf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-10/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-10/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-10/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-N-3-10/stf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-3-15/f',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-3-15/sf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-3-15/tf',
 '/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-3-15/stf']

In [18]:
for datafolder in folders:
    print(datafolder)
    npz_files = glob(os.path.join(datafolder, '*.npz'))
    conf_files = glob(os.path.join(datafolder, '*-conf.json'))
    for filename in sorted(npz_files)[:1]:
        xy_loaded = np.load(filename)
        print('file=', os.path.basename(filename), ', shapes=', xy_loaded['x'].shape, xy_loaded['y'].shape)
        break
        
    for filename in sorted(conf_files)[:1]:
        conf = dict_util.DictObj(filename)
        print('file=', os.path.basename(filename), 'zid=', conf.id, ', shapes=', conf.n_tx, ',',conf.n_vx, 'and', conf.n_ty, '*', conf.n_vy)
        break
    break

/home/armando/traffic_flow_exp/n2/data/samiul_i75-I_75-S-1-5/f
file= 9816.npz , shapes= (1264, 24, 1) (1264, 12)
file= 9816-conf.json zid= 9816 , shapes= 24 , 1 and 12 * 1

In [15]:
xy_df, (x_cols,y_cols) = temporal.df_to_xy(df1d,dim3=False)
ipd(xy_df.head())

                     col1_t-0  col1_t+1
2020-01-01 00:00:00  1.000000  1.090909
2020-01-01 01:00:00  1.090909  1.181818
2020-01-01 02:00:00  1.181818  1.272727
2020-01-01 03:00:00  1.272727  1.363636
2020-01-01 04:00:00  1.363636  1.454545

In [17]:
xy_cols = list(set(x_cols+y_cols))
print(xy_cols)

['col1_t-0', 'col1_t+1']

In [21]:
scaler_xy = scalers.MinMaxScaler().fit(xy_df[xy_cols].to_numpy())
sdf = scaler_xy.transform(xy_df[xy_cols])
ipd(sdf.head())

                     col1_t-0  col1_t+1
2020-01-01 00:00:00  0.000000  0.000000
2020-01-01 01:00:00  0.010204  0.010204
2020-01-01 02:00:00  0.020408  0.020408
2020-01-01 03:00:00  0.030612  0.030612
2020-01-01 04:00:00  0.040816  0.040816

In [23]:
from traffic_flow.experiments import n2_data
xy = n2_data.exp_n2_to_xy(id_df,conf=conf1)
print(xy.shape)

NameError: name 'id_df' is not defined